In [190]:
import pandas as pd

specimen = pd.read_csv('https://data.ct.gov/resource/qfkt-uahj.csv', encoding='utf-8', na_values=None)
data = specimen.groupby('date').sum().sort_values(by='date')
data = data.reset_index()
data['date'] = pd.to_datetime(data['date'])
result = data.groupby([data['date'].dt.year, data['date'].dt.month], as_index=False).agg(
        {'number_of_pcr_tests': sum, 'number_of_pcr_positives': sum, 'number_of_ag_tests': sum, 'number_of_ag_positives': sum, 'number_of_ag_indeterminates': sum,'number_of_ag_negatives': sum,'number_of_pcr_indeterminates': sum,'number_of_pcr_negatives': sum})
result

,number_of_pcr_tests,number_of_pcr_positives,number_of_ag_tests,number_of_ag_positives,number_of_ag_indeterminates,number_of_ag_negatives,number_of_pcr_indeterminates,number_of_pcr_negatives
0,31882,2867,3005,137,0,2868,28,28987
1,1021194,68846,135462,6600,2,128860,1217,951131
2,824367,27674,98808,4024,6,94778,920,795773
3,885081,31656,106075,6487,8,99580,838,852587
4,477184,17888,53785,3146,1,50638,385,458911

In [180]:

PCR_Tests = result[result.columns[0]].values.tolist()
PCR_Positive = result[result.columns[1]].values.tolist()
AG_Tests = result[result.columns[2]].values.tolist()
AG_Positive = result[result.columns[3]].values.tolist()

specimen

,date,county,number_of_pcr_tests,number_of_pcr_positives,number_of_pcr_negatives,number_of_pcr_indeterminates,number_of_ag_tests,number_of_ag_positives,number_of_ag_negatives,number_of_ag_indeterminates
0,2021-04-20T00:00:00.000,Middlesex,15,0,15,0,12,1,11,0
1,2021-04-20T00:00:00.000,Fairfield,387,30,357,0,358,6,352,0
2,2021-04-20T00:00:00.000,New Haven,161,9,152,0,276,8,268,0
3,2021-04-20T00:00:00.000,Tolland,11,0,11,0,5,0,5,0
4,2021-04-20T00:00:00.000,Litchfield,54,3,51,0,67,5,62,0
...,...,...,...,...,...,...,...,...,...,...
995,2020-12-31T00:00:00.000,New London,2552,254,2294,4,74,9,65,0
996,2020-12-31T00:00:00.000,Fairfield,6877,593,6280,4,943,36,907,0
997,2020-12-31T00:00:00.000,Litchfield,1227,86,1141,0,144,5,139,0
998,2020-12-31T00:00:00.000,New Haven,6944,627,6312,5,739,28,711,0
999,2020-12-30T00:00:00.000,New London,3220,276,2940,4,139,14,125,0

In [178]:
 historicalData = pd.read_csv('https://data.ct.gov/resource/rf3k-f8fg.csv', encoding='utf-8', na_values=None)
    lineplot = historicalData[['date',historicalData.columns[3],historicalData.columns[4],historicalData.columns[6],historicalData.columns[7],historicalData.columns[8]]].groupby('date').sum().sort_values(by='date')
    lineplot = lineplot.reset_index()
    lineplot['date']= pd.to_datetime(lineplot['date'])
    result = lineplot.groupby([lineplot['date'].dt.year, lineplot['date'].dt.month], as_index=False).agg({'totalcases':sum,'confirmedcases':sum,'totaldeaths':sum,'confirmeddeaths':sum,'hospitalizedcases':sum})
    totalcases=result[result.columns[0]].values.tolist()

IndentationError: unexpected indent (<ipython-input-178-1beddcd79d98>, line 2)