In [18]:
import pandas as pd
Townmap = pd.read_csv('https://data.ct.gov/resource/28fr-iqnx.csv',encoding='utf-8', na_values=None)
value = Townmap.groupby('town').sum()
value = value.reset_index()
value = value[['town', value.columns[2], value.columns[3], value.columns[6]]]

town = value[value.columns[0]].values.tolist()
TotalCases = value[value.columns[1]].values.tolist()
ConfirmedCases = value[value.columns[2]].values.tolist()
TotalDeaths = value[value.columns[3]].values.tolist()

In [20]:
value

              town  towntotalcases  townconfirmedcases  towntotaldeaths
0          Andover            1067                 917               18
1          Ansonia           11432                9756              156
2          Ashford            1407                1333               24
3             Avon            5630                5287              450
4      Barkhamsted             924                 888                6
..             ...             ...                 ...              ...
164  Windsor Locks            5095                4950              155
165        Wolcott            9470                8552              259
166     Woodbridge            2845                2511              215
167       Woodbury            3098                2757               40
168      Woodstock            2616                2576               30

[169 rows x 4 columns]